<section class="section-cart">
  <div class="row">
    <div class="h-100 w-100" *ngIf="items.length == 0; else display">
      <div class="row align-items-center">
        <div class="col-6 text-right">
          <img src="assets/images/empty-cart.png" alt="empty-cart" />
        </div>
        <div class="col-6 text-left">
          <h1 class="display-1">Empty Cart</h1>
          <p>
            Looks like you have not added anythin to your cart<br />Go ahead &
            explore top categories
          </p>
        </div>
      </div>
    </div>
    <ng-template #display>
      <div class="col-6">
        <p class="text-center h3">
          Total Price :
          <strong class="ms-2">{{ totalPrice | number : "1.2-2" }}</strong>
        </p>
        <div *ngFor="let item of items">
          <div class="card mb-3 border-0" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{{ item.url }}"
                  class="img-fluid"
                  alt="{{ item.url }}"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title d-inline">{{ item.name }}</h5>
                  <i
                    class="fa-solid fa-trash-can text-danger float-end pointer"
                    (click)="RemoveItem(item)"
                  ></i>
                  <p class="card-text">
                    {{ item.description }}
                  </p>
                  <div class="row">
                    <div class="col-6">
                      <input
                        class="form-control"
                        type="text"
                        [(ngModel)]="totalAmount"
                        disabled
                      />
                    </div>
                    <div class="col-6">
                      <!-- <span style="vertical-align: -webkit-baseline-middle"
                        ><i
                          class="fa-solid fa-plus me-3 pointer"
                          (click)="Increment(item.price)"
                        ></i>
                        <i
                          class="fa-solid fa-minus pointer"
                          (click)="Decrement(item.price)"
                        ></i
                      ></span> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <form (ngSubmit)="OnSubmit()" #form="ngForm">
          <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input
              type="text"
              class="form-control"
              name="fullName"
              minlength="3"
              required
              [(ngModel)]="fullName"
              (ngModelChange)="CheckText($event)"
              #name="ngModel"
              placeholder="(minimum 3 characters)"
            />
            <small
              *ngIf="name.invalid && name.touched"
              class="text-danger d-block mt-1"
            >
              Please Enter Full Name (minimum 3 characters)
            </small>
            <small *ngIf="isText" class="text-danger">
              please Enter Character Only.
            </small>
          </div>
          <div class="mb-3">
            <label class="form-label">Address</label>
            <input
              type="text"
              class="form-control"
              name="Address"
              [(ngModel)]="Address"
              #address="ngModel"
              minlength="6"
              required
              placeholder="(minimum 6 characters)"
            />
          </div>
          <small
            *ngIf="address.invalid && address.touched"
            class="text-danger mt-1"
          >
            Please Enter Address (minimum 6 characters)
          </small>
          <div class="mb-3">
            <label class="form-label">Credit</label>
            <input
              type="text"
              minlength="16"
              required
              class="form-control"
              name="creditNumber"
              [(ngModel)]="creditNumber"
              (ngModelChange)="CheckNumber($event)"
              #crdtNumber="ngModel"
              placeholder="(16-digit number)"
            />
            <small
              *ngIf="crdtNumber.invalid && crdtNumber.touched"
              class="text-danger mt-1"
            >
              Please Enter Credit Number (minimum 6 characters)
            </small>
            <small *ngIf="isNumber" class="text-danger">
              please Enter Numbers Only.
            </small>
            <div class="form-text">
              We'll never share your payment details with anyone else.
            </div>
          </div>
          <input
            type="submit"
            [disabled]="form.invalid"
            class="btn btn-success"
          />
        </form>
      </div>
    </ng-template>
  </div>
</section>
